<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= msg %> </h1>
    <form action="/add-employee" method="post">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="first_name" id=""></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="last_name" id=""></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="text" name="age" id=""></td>
            </tr>
            <tr>
                <td>Company:</td>
                <td><input type="text" name="company" id=""></td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset"></td>
                <td><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>
    <a href="/">Back to Home page</a>
</body>

</html>