<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarText.collapse.navbar-collapse
                h1 EMS
                if user
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/') Home 
                                span.sr-only (current)
                            li.nav-item
                                a.nav-link(href='/employees/new') Add employee
                            li.nav-item
                                a.nav-link(href='/change-password') Change password
                    
                    span.navbar-text
                        p
                            u #{msg}
                        a(href="/logout") Log out
                else 
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/') Home 
                                span.sr-only (current)
                    span.navbar-text
                        a(href="/login") Log in
                        a(href="register") Register