extends ./home

block pageHead
	h1 Admin

block pageLinks
	ul.nav.nav-pills
		li.nav-item
			a.nav-link.active(href='/admin', data-toggle='tab') Courses
		li.nav-item
			a.nav-link(href='/admin/createCourse', data-toggle='tab') Create Course
		li.nav-item
			a.nav-link(href='/admin/profile', data-toggle='tab') Edit Profile
		li.nav-item
			a.nav-link(href='/admin/createCategory', data-toggle='tab') Create Category

block contentPage
	#Courses.active.tab-pane
		.post
			.user-block
				span.usernames
					a(href='#') Name of Course
					a.float-right.btn-tool(href='#')
						i.fas.fa-times
				span.description Time of Courses
			// /.user-block
			p Course discription
			p
				button
					i.fas.fa-share.mr-1
					|  Enroll
			p Number of people enroll
			span.float-right Type of Course
			p
			input.form-control.form-control-sm(type='text', placeholder='Type a comment')
		// /.post
		// Post
		.post
			.user-block
				span.username
					a(href='#') Name of Course
					a.float-right.btn-tool(href='#')
						i.fas.fa-times
				span.description Time of Courses
			// /.user-block
			p Course discription
			p
				button
					i.fas.fa-share.mr-1
					|  Enroll
			p Number of people enroll
			span.float-right Type of Course
			p
			input.form-control.form-control-sm(type='text', placeholder='Type a comment')
		// /.post
		// Post
		.post
			.user-block
				span.username
					a(href='#') Adam Jones
					a.float-right.btn-tool(href='#')
						i.fas.fa-times
				span.description Posted 5 photos - 5 days ago
			// /.user-block
			.row.mb-3
				.col-sm-6
				// /.col
				.col-sm-6
					.row
						.col-sm-6
						// /.col
						.col-sm-6
						// /.col
					// /.row
				// /.col
			// /.row
			p
				a.link-black.text-sm.mr-2(href='#')
					i.fas.fa-share.mr-1
					|  Share
				a.link-black.text-sm(href='#')
					i.far.fa-thumbs-up.mr-1
					|  Like
				span.float-right
					a.link-black.text-sm(href='#')
						i.far.fa-comments.mr-1
						|  Comments (5)
			input.form-control.form-control-sm(type='text', placeholder='Type a comment')
		// /.post
